*{
    font-family: Poppins, sans-serif;
}
body {
    background: linear-gradient(#6b6b6b, #fff) ;
    text-align: center;
    font-family: Poppins, sans-serif;
h1 {
    font-family: Aachen
}
.bookpicture {
    opacity: 50%;
}
.about {
    margin: 50px;
    font-size: larger;
    width: 700px;
    text-align: left;
    display: inline-block;
    margin-top: 50px;
    margin-bottom: 5px;
    font-size: 18px;
    height: 120px;   


}
li {
    list-style: none;
    font-family:Verdana;
    width: 200px;
    text-align: center;
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 18px;
    
    
}
.who {
    font-weight: bolder;
    font-size: 26px;
    color:rgb(0, 0, 0);
}   
}
.join {
    display: inline-block;
    margin-top: 200px;
    margin-bottom: 100px;
    font-size: 18px;
    width: 500px;
}
.sign-up {
    margin-bottom: 500px
    
}
.form {
    width: 25%;
    text-align: center;
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 18px;
}
fieldset {
    background-color: rgb(255, 255, 255);
}
.faq {
    width: 25%;
    display:inline-block;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size:large;
}
.faq-questions {
    text-align: ;
}
.nav-link {
    color: black;
    font-weight: bolder;
}
.book-img {
    width: 90px
}
.book-img:hover {
    transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }
.current-book {
    margin: 50px;
    width: 25%;
    display:inline-block;
}
.navbar {
    list-style-type: none;
    margin: 50px;
    padding: 50px;
}
nav > ul > li:hover {
    cursor: pointer;
    transform: scale(1.2);
    transition: transform 1s ease-in-out 0ms;
}
nav > ul {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    padding-inline-start: 0;
    margin-block: 0;
    height: 100%;
}
a {
    text-decoration: none;
 }
 label{
    display:inline-block;
    width:200px;
    margin-right:30px;
    text-align:right;
    }
.answer {
    font-weight: bolder;
}
.who-are-we {
    width: 25%;
    text-align: center;
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 18px;
}